<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">

<div class="text-center p-8 bg-white shadow-lg rounded-lg max-w-md mx-auto">
    <h1 class="text-4xl text-red-500 font-bold mb-4">Oops!</h1>
    <p class="text-lg mb-4">Something went wrong.</p>
    <p class="text-gray-600 mb-6">
        An unexpected error has occurred. Please try again later or contact the system administrator for assistance.
    </p>
    <a href="/wishlists/profile" class="text-blue-500 hover:underline">Go to Home</a>
</div>

</body>
</html>
