<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Wish</title>
</head>
<body>
<h1>Add Wish to Wishlist</h1>

<form th:action="@{/wishlists/{id}/addWish(id=${wishList.id})}" th:object="${wish}" method="post">
    <div>
        <label>Wish Name:</label>
        <input type="text" th:field="*{name}" placeholder="Enter wish name" required />
    </div>
    <div>
        <label>Description:</label>
        <input type="text" th:field="*{description}" placeholder="Enter wish description" />
    </div>
    <button type="submit">Add Wish to Wishlist</button>
</form>

<a th:href="@{/wishlists}">View Wishlists</a>
</body>
</html>
