<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Your Wishlists</title>
</head>
<body>
<h1>Your Wishlists</h1>

<div th:if="${wishLists != null}">
  <table>
    <tr>
      <th>Event Name</th>
      <th>Event Date</th>
      <th>Actions</th>
    </tr>
    <tr th:each="wishList : ${wishLists}">
      <td th:text="${wishList.eventName}">Event Name</td>
      <td th:text="${wishList.eventDate}">Event Date</td>
      <td>
        <a th:href="@{/wishlists/{id}/addWish(id=${wishList.id})}">Add Wishes</a>
      </td>
    </tr>
  </table>
</div>
<div th:unless="${wishLists != null}">
  <p>You have no wishlists. Create your first wishlist below:</p>
</div>
<a href="/wishlists/new">Create New Wishlist</a>
</body>
</html>
